@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-center min-h-screen bg-[linear-gradient(to_bottom_right,#001,#005)] flex flex-col items-center text-slate-50;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-50 rounded-full;
    
}

@keyframes popIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
